[Unit]
Description=vcentercollector Agent
Documentation=http://github.com/toni-moreno/vCenterCollector
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/vcentercollector
User=resist
Group=resist
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/vcentercollector
ExecStart=/usr/sbin/vcentercollector                    \
                            --pidfile=${PID_FILE}     \
                            --config=${CONF_FILE}     \
                            --logs=${LOG_DIR}         \
                            --home=${HOME_DIR}        \
                            --data=${DATA_DIR}
LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
